@import url("../fonts/Golos_Text_Bold/Golos_Text_Bold.css");
@import url("../fonts/Golos_Text_Regular/Golos_Text_Regular.css");
@import url("../fonts/Golos_Text_Medium/Golos_Text_Medium.css");
@import url("../css/uicons-regular-rounded.css");



$GolosBold: GolosTextWebBold;
$GolosRegular: GolosTextWebRegular;
$GolosMedium: GolosTextWebMedium;
$MainColor:#3D75E4;

body,
.v-application {
    font-family: $GolosRegular !important;

}

h1 {

    font-family: $GolosBold;
    font-size: clamp(44px, 5vw, 72px);
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0em;
}


h5 {
    font-family: $GolosRegular;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #04153E;
}

h6 {
    font-family: $GolosRegular;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #04153E;
}

p {
    font-family: $GolosRegular;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #04153E;
    opacity: 0.72;
}

.v-application a {
    text-decoration: none;
    color: #04153E !important;
}


.main_button {

    box-shadow: none;
    transition: box-shadow 0.5s ease-in-out;

    &:hover {
        box-shadow: (0px 4px 16px rgba(4, 21, 62, 0.16));
    }
}

header {
    position: sticky;
    top: 0;
    left: 0;
    background: white;
    z-index: 3;

    div {
        height: 52px;
        display: flex;
        align-items: center;
        padding-left: 8px;

        span {
            font-size: 20px;
        }
    }

    .header_text {
        padding-left: 24px;
    }
}

.action_button {
    background: $MainColor;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 272px;

    
    color: white;
    font-family: $GolosRegular;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

